{% extends "base.html" %}
{% load static %}
{% block content %}
 <section class="bg-about">
        <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'assets/img/cs2.jpg' %}" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">สาขาวิทยาการคอมพิวเตอร์</h1>
                <p>สาขาของเรามีหลักสูตรที่เรียนเกี่ยวกับคอมพิวเตอร์การเขียนโปรแกรมและพัฒนาโปรแกรมการสร้างซอฟต์แวร์ วิชาภาษาการสื่อสารและมนุษย์ศาสตร์ สังคมศาสตร์ คณิตศาสตร์ และมีกิจกรรมที่เปิดโอกาสให้เราได้ฝึกสกิลการเขียนโค๊ดต่างๆอยู่เรื่อยๆ จบไปแล้วอาชีพที่เป็นได้ก็คือนักพัฒนาซอฟต์แวร์นักวิเคราะห์ระบบ ผู้ดูแลระบบคอมพิวเตอร์ นักออกแบบเว็บไซต์ นักธุรกิจดิจิทัล ผู้รักษาความปลอดภัยด้านคอมพิวเตอร์ นักออกแบบ UI และโปรแกรมเมอร์ ซึ่งเป็นอาชีพที่มีอิสระในการทำงานสาทารถทำงานที่ไหนตอนไหนก็ได้</p>
            
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body"><h1 class="text-white m-0">เกี่ยวกับเรา</h1></div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <b></h2 class="card-title">เรียนกับเราแล้วดียังไง?</h2></b>
                        <img src="{% static 'assets/img/lt.jpg' %}" alt="รูปไม่ขึ้น" style="width: 100%; height: auto;">
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'about1' %}">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                    </h2 class="card-title">เราจะได้เรียนอะไรบ้าง?</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'about2' %}">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                    </h2 class="card-title">จบแล้วทำอาชีพอะไรได้บ้าง?</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'about3' %}">More Info</a></div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


{% endblock content %}