{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="bg-about">
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'assets/img/cs2.jpg' %}" alt="..." />
            </div>
            <div class="col-lg-5">
                <h3 class="font-weight" style="color: #000000;">สาขาวิทยาการคอมพิวเตอร์</h3>
                <p>สาขาของเรามีหลักสูตรที่เรียนเกี่ยวกับคอมพิวเตอร์การเขียนโปรแกรมและพัฒนาโปรแกรมการสร้างซอฟต์แวร์ วิชาภาษาการสื่อสารและมนุษย์ศาสตร์ สังคมศาสตร์ คณิตศาสตร์ และมีกิจกรรมที่เปิดโอกาสให้เราได้ฝึกสกิลการเขียนโค๊ดต่างๆอยู่เรื่อยๆ จบไปแล้วอาชีพที่เป็นได้ก็คือนักพัฒนาซอฟต์แวร์นักวิเคราะห์ระบบ ผู้ดูแลระบบคอมพิวเตอร์ นักออกแบบเว็บไซต์ นักธุรกิจดิจิทัล ผู้รักษาความปลอดภัยด้านคอมพิวเตอร์ นักออกแบบ UI และโปรแกรมเมอร์ ซึ่งเป็นอาชีพที่มีอิสระในการทำงานสามารถทำงานที่ไหนตอนไหนก็ได้</p>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <h3 class="text-white m-0">เกี่ยวกับเรา</h3>
            </div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h2 class="card-title text-center">เรียนกับเราแล้วดียังไง?</h2>
                        <img src="{% static 'assets/img/a1.jpg' %}" alt="รูปไม่ขึ้น" style="width: 100%; height: auto;">
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary btn-sm" href="{% url 'about1' %}">open</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h2 class="card-title text-center">เราจะได้เรียนอะไรบ้าง?</h2>
                        <img src="{% static 'assets/img/a2.jpg' %}" alt="รูปไม่ขึ้น" style="width: 100%; height: auto;">
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary btn-sm" href="{% url 'about2' %}">open</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h2 class="card-title text-center">จบแล้วทำอาชีพอะไรได้บ้าง?</h2>
                        <img src="{% static 'assets/img/a3.jpg' %}" alt="รูปไม่ขึ้น" style="width: 100%; height: auto;">
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary btn-sm" href="{% url 'about3' %}">open</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
