{% extends "base.html" %}

{% block content %}
{% load static %}
   <!-- Background Video-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">CS66</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">ยินดีต้อนรับเข้าสู่สาขาวิทยาการคอมพิวเตอร์</h2>
                <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
                <a class="btn btn-dark" href="#home">มาเริ่มกันเลย!!!</a>
            </div>
        </div>
    </div>
</header>

{% endblock content %}